PORT=5234 
NODE_ENV=production
FRONTEND_URL= 

MONGODB_URI=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
CLERK_WEBHOOK_KEY= 

JWT_SECRET=
JWT_EXPIRE=

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=

SEND_EMAIL_NOTIFICATIONS=
